.form__login{
    width: 600px;
    height: 400px;
    display:flex;
}
.login__title {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
}
.text__change {
    font-family: Tahoma;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
}
.text__change__click {
    cursor: pointer;
    text-decoration:underline;
}
.text__change__click:hover {
    color:royalblue;
}

